<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://zoheb391.github.io/mywebsite">Zoheb</a> with help from the Firehose Project. The goal of this website is to give users a vast selection of quotes to view and get inspired by in times of desperation and hair pulling misery.
  </p>
  <br />
  <p>
    
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

</div>

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'pic.jpg', :class => 'img-responsive' %>
</div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Zoheb Salam</h2>
    <br />
    <p>
      Zoheb Salam is an aspiring web developer. He recently graduated with degrees in Economics, Psychology and also a minor in Business Administration. He has internship experience in four different countries staright out of college in industries varying from Oil & gas, finance and tech. He hopes one day to make a positive  impact in the lives of those in developing nations through innovative technology and passionate work. 
    </p>
  </div>
<br class="clear" />
<br />
<br />
<br />
<br />